<a href="https://colab.research.google.com/github/soyoonjeong/Running_Machine/blob/main/%ED%97%AC%EC%8A%A4%EC%9E%A5_%EC%9C%84%EB%8F%84_%EA%B2%BD%EB%8F%84_%EB%B3%80%ED%99%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
!pip install selenium
!apt-get update
!apt install chromium-chromedriver
import re
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotVisibleException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (4.3.0)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.7/dist-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: cryptography>=1.3.4 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (37.0.4)
Requirement already satisfied: pyOpenSSL>=0.14 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.1.1)
Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:9 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (103.0.5060.134-0ubuntu0.18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 76 not upgraded.

In [ ]:
# 웹 드라이버 로딩
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome("chromedriver", chrome_options=chrome_options)
driver.implicitly_wait(3) # driver가 로딩될 때까지 기다리기 위해 implicitly_wait(3) 줌

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: use options instead of chrome_options

# 헬스장 url 추출

In [ ]:
region = '동작구'

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/datasets/헬스장 크롤링/{0}/company.csv".format(region))
df.head()

,id,name,img,grade,lat,lng,phoneNumber,address
0,0,헤라클레스,https://search.pstatic.net/common/?autoRotate=...,NaN,37.505922,126.952942,824-8688,서울특별시 동작구 흑석로6가길 21 (흑석동)
1,1,명문헬스클럽,https://search.pstatic.net/common/?autoRotate=...,NaN,37.493530,126.954541,814-0579,"서울특별시 동작구 상도로 399, 202호 (상도동, 삼호상가)"
2,2,에브리데이짐,https://search.pstatic.net/common/?autoRotate=...,4.95,37.504734,126.935446,817-6400,서울특별시 동작구 상도로 179 (상도동)
3,3,국제 헬스,NaN,NaN,37.511802,126.932055,02-814-4155,서울특별시 동작구 등용로4길 148 (노량진동)
4,4,엔짐,https://search.pstatic.net/common/?autoRotate=...,4.78,37.497142,126.941727,817-8990,"서울특별시 동작구 양녕로26길 27, 5층 (상도동, 삼익아파트)"

In [ ]:
df['naver_map_url'] = "none"

In [ ]:
for i in range(len(df)):
  keyword = df['name'][i]
  print("이번에 찾을 키워드 : ", keyword)
  try:
    if df['naver_map_url'][i]!='none': # 이미 url 있는 거 다 패스 
      continue
    address_idx_start = df['address'][i].index("(")+1
    address_idx_end =  len(df['address'][i])-df['address'][i][::-1].index("동") # 동 이름 추출 
    naver_map_search_url = "https://map.naver.com/v5/search/"+region+" "+df['address'][i][address_idx_start:address_idx_end]+" "+keyword+'/place' # 구 + 동 + 헬스장 이름 
    print(naver_map_search_url)

    driver.get(naver_map_search_url)
    time.sleep(12)
    cu = driver.current_url
    res_code = re.findall(r"place/(\d+)", cu) 
    final_url = 'https://pcmap.place.naver.com/place/'+res_code[0]+'/review/visitor#' 
    print(keyword, final_url)
    df['naver_map_url'][i] = res_code[0]
  except IndexError:
    df['naver_map_url'][i] = 'none'
    print('url을 찾지 못했습니당')

이번에 찾을 키워드 :  헤라클레스
https://map.naver.com/v5/search/동작구 흑석동 헤라클레스/place
헤라클레스 https://pcmap.place.naver.com/place/38738534/review/visitor#
이번에 찾을 키워드 :  명문헬스클럽
https://map.naver.com/v5/search/동작구 상도동 명문헬스클럽/place

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

명문헬스클럽 https://pcmap.place.naver.com/place/18704679/review/visitor#
이번에 찾을 키워드 :  에브리데이짐
https://map.naver.com/v5/search/동작구 상도동 에브리데이짐/place
에브리데이짐 https://pcmap.place.naver.com/place/1318853078/review/visitor#
이번에 찾을 키워드 :  국제 헬스
https://map.naver.com/v5/search/동작구 노량진동 국제 헬스/place
국제 헬스 https://pcmap.place.naver.com/place/11831148/review/visitor#
이번에 찾을 키워드 :  엔짐
https://map.naver.com/v5/search/동작구 상도동 엔짐/place
엔짐 https://pcmap.place.naver.com/place/1136266766/review/visitor#
이번에 찾을 키워드 :  마크짐 휘트니스
https://map.naver.com/v5/search/동작구 흑석동 마크짐 휘트니스/place
마크짐 휘트니스 https://pcmap.place.naver.com/place/31564479/review/visitor#
이번에 찾을 키워드 :  피렉스휘트니스센터
https://map.naver.com/v5/search/동작구 상도동 피렉스휘트니스센터/place
피렉스휘트니스센터 https://pcmap.place.naver.com/place/1018025728/review/visitor#
이번에 찾을 키워드 :  프레토 휘트니스
https://map.naver.com/v5/search/동작구 대방동 프레토 휘트니스/place
프레토 휘트니스 https://pcmap.place.naver.com/place/1430563569/review/visitor#
이번에 찾을 키워드 :  이루어짐
https://map.naver.com/v5/search/동작구 노량진동 이루어짐/place
이루어짐 https://pcmap.place.naver.com/place/12861635/review/visitor#
이번에 찾을 키워드 :  바디 디자인샵
https://map.naver.com/v5/search/동작구 상도동 바디 디자인샵/place
바디 디자인샵 https://pcmap.place.naver.com/place/37992177/review/visitor#
이번에 찾을 키워드 :  커브스 상도클럽
https://map.naver.com/v5/search/동작구 상도동 커브스 상도클럽/place
커브스 상도클럽 https://pcmap.place.naver.com/place/34331455/review/visitor#
이번에 찾을 키워드 :  해가든짐
https://map.naver.com/v5/search/동작구 흑석동 해가든짐/place
해가든짐 https://pcmap.place.naver.com/place/37002614/review/visitor#
이번에 찾을 키워드 :  코드짐
https://map.naver.com/v5/search/동작구 노량진동 코드짐/place
코드짐 https://pcmap.place.naver.com/place/36281903/review/visitor#
이번에 찾을 키워드 :  짐퍼스트 동작점
https://map.naver.com/v5/search/동작구 신대방동 짐퍼스트 동작점/place
짐퍼스트 동작점 https://pcmap.place.naver.com/place/1102950306/review/visitor#
이번에 찾을 키워드 :  엠에이치 토탈 휘트니스 신대방
https://map.naver.com/v5/search/동작구 신대방동 엠에이치 토탈 휘트니스 신대방/place
엠에이치 토탈 휘트니스 신대방 https://pcmap.place.naver.com/place/36993782/review/visitor#
이번에 찾을 키워드 :  러너 피트니스
https://map.naver.com/v5/search/동작구 상도동, 상도동 러너 피트니스/place
러너 피트니스 https://pcmap.place.naver.com/place/37521166/review/visitor#
이번에 찾을 키워드 :  리턴투 필라테스
https://map.naver.com/v5/search/동작구 대방동, 대방동 리턴투 필라테스/place
리턴투 필라테스 https://pcmap.place.naver.com/place/37699818/review/visitor#
이번에 찾을 키워드 :  크로스핏 포스
https://map.naver.com/v5/search/동작구 대방동 크로스핏 포스/place
크로스핏 포스 https://pcmap.place.naver.com/place/37864961/review/visitor#
이번에 찾을 키워드 :  휘트니스 452
https://map.naver.com/v5/search/동작구 흑석동 휘트니스 452/place
휘트니스 452 https://pcmap.place.naver.com/place/36395457/review/visitor#
이번에 찾을 키워드 :  더블유짐 상도점
https://map.naver.com/v5/search/동작구 상도1동 더블유짐 상도점/place
더블유짐 상도점 https://pcmap.place.naver.com/place/38214519/review/visitor#
이번에 찾을 키워드 :  원투원휘트니스
https://map.naver.com/v5/search/동작구 노량진동 원투원휘트니스/place

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

url을 찾지 못했습니당
이번에 찾을 키워드 :  바디킹PT샵
https://map.naver.com/v5/search/동작구 대방동 바디킹PT샵/place
바디킹PT샵 https://pcmap.place.naver.com/place/1728630366/review/visitor#
이번에 찾을 키워드 :  크로스핏 보라매. 엘루이짐
https://map.naver.com/v5/search/동작구 신대방동 크로스핏 보라매. 엘루이짐/place
크로스핏 보라매. 엘루이짐 https://pcmap.place.naver.com/place/36459268/review/visitor#
이번에 찾을 키워드 :  예스휘트니스센터
https://map.naver.com/v5/search/동작구 상도동 예스휘트니스센터/place
예스휘트니스센터 https://pcmap.place.naver.com/place/20614467/review/visitor#
이번에 찾을 키워드 :  클레어 피트니스 필라테스&PT 이수역점
https://map.naver.com/v5/search/동작구 사당동 클레어 피트니스 필라테스&PT 이수역점/place
클레어 피트니스 필라테스&PT 이수역점 https://pcmap.place.naver.com/place/1099353212/review/visitor#
이번에 찾을 키워드 :  투혼짐
https://map.naver.com/v5/search/동작구 노량진동 투혼짐/place
투혼짐 https://pcmap.place.naver.com/place/35966449/review/visitor#
이번에 찾을 키워드 :  Keep Fit studio
https://map.naver.com/v5/search/동작구 노량진동 Keep Fit studio/place
Keep Fit studio https://pcmap.place.naver.com/place/1621093212/review/visitor#
이번에 찾을 키워드 :  고위드 피트니스
https://map.naver.com/v5/search/동작구 신대방동 고위드 피트니스/place
고위드 피트니스 https://pcmap.place.naver.com/place/1045120052/review/visitor#
이번에 찾을 키워드 :  커브스 사당클럽
https://map.naver.com/v5/search/동작구 사당동 커브스 사당클럽/place
커브스 사당클럽 https://pcmap.place.naver.com/place/1666912566/review/visitor#
이번에 찾을 키워드 :  J.J GYM
https://map.naver.com/v5/search/동작구 노량진동 J.J GYM/place
J.J GYM https://pcmap.place.naver.com/place/1027972754/review/visitor#
이번에 찾을 키워드 :  엑스 콩고
https://map.naver.com/v5/search/동작구 노량진동 엑스 콩고/place
엑스 콩고 https://pcmap.place.naver.com/place/39818614/review/visitor#
이번에 찾을 키워드 :  모브트레이닝 센터
https://map.naver.com/v5/search/동작구 대방동 모브트레이닝 센터/place
모브트레이닝 센터 https://pcmap.place.naver.com/place/1263828292/review/visitor#
이번에 찾을 키워드 :  펠리스짐
https://map.naver.com/v5/search/동작구 대방동 펠리스짐/place
펠리스짐 https://pcmap.place.naver.com/place/1892839814/review/visitor#
이번에 찾을 키워드 :  얼티밋크로스핏 이수점
https://map.naver.com/v5/search/동작구 사당동 얼티밋크로스핏 이수점/place
얼티밋크로스핏 이수점 https://pcmap.place.naver.com/place/1222771303/review/visitor#
이번에 찾을 키워드 :  휘트니스 벨라
https://map.naver.com/v5/search/동작구 사당동 휘트니스 벨라/place
휘트니스 벨라 https://pcmap.place.naver.com/place/1581837115/review/visitor#
이번에 찾을 키워드 :  업투 이수역점
https://map.naver.com/v5/search/동작구 사당동 업투 이수역점/place
업투 이수역점 https://pcmap.place.naver.com/place/1476703772/review/visitor#
이번에 찾을 키워드 :  더 본짐
https://map.naver.com/v5/search/동작구 상도1동 더 본짐/place
더 본짐 https://pcmap.place.naver.com/place/1246549593/review/visitor#
이번에 찾을 키워드 :  아이런 휘트니스
https://map.naver.com/v5/search/동작구 상도동 아이런 휘트니스/place
아이런 휘트니스 https://pcmap.place.naver.com/place/957515691/review/visitor#
이번에 찾을 키워드 :  피트니스 킹덤
https://map.naver.com/v5/search/동작구 대방동 피트니스 킹덤/place
피트니스 킹덤 https://pcmap.place.naver.com/place/1480711513/review/visitor#
이번에 찾을 키워드 :  바디테일러 PT
https://map.naver.com/v5/search/동작구 대방동 바디테일러 PT/place
바디테일러 PT https://pcmap.place.naver.com/place/1024235832/review/visitor#
이번에 찾을 키워드 :  클럽컬리넌
https://map.naver.com/v5/search/동작구 사당동 클럽컬리넌/place
클럽컬리넌 https://pcmap.place.naver.com/place/38019638/review/visitor#
이번에 찾을 키워드 :  트루머슬짐
https://map.naver.com/v5/search/동작구 상도동 트루머슬짐/place
트루머슬짐 https://pcmap.place.naver.com/place/1889011410/review/visitor#
이번에 찾을 키워드 :  프롬 베이스먼트
https://map.naver.com/v5/search/동작구 신대방동 프롬 베이스먼트/place
프롬 베이스먼트 https://pcmap.place.naver.com/place/1686875372/review/visitor#

In [ ]:
df[df['naver_map_url']=="none"]

,id,name,img,grade,lat,lng,phoneNumber,address,naver_map_url
20,20,원투원휘트니스,https://search.pstatic.net/common/?autoRotate=...,4.53,37.512193,126.938498,823-0121,"서울특별시 동작구 장승배기로28길 20, 지1층 (노량진동)",none

# 헬스장 주소 크롤링

In [ ]:
df['address2'] = ""

In [ ]:
import requests
for i in range(len(df)):
  print(i,"번째 헬스장")
  print(df['name'][i])
  url = 'https://pcmap.place.naver.com/place/'+str(df['naver_map_url'][i])+'/home'
  print(url)
  result = requests.get(url)
  soup = BeautifulSoup(result.content.decode('utf-8','replace'), "html.parser")

  try:
    address = soup.select("._2yqUQ")[0].getText()
    print(address)
    df['address2'][i] = address
  except IndexError:
    continue

0 번째 헬스장
헤라클레스
https://pcmap.place.naver.com/place/38738534/home
서울 동작구 흑석로6가길 21
1 번째 헬스장
명문헬스클럽
https://pcmap.place.naver.com/place/18704679/home

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

서울 동작구 상도로 399 삼호아파트 상가2동 201호
2 번째 헬스장
에브리데이짐
https://pcmap.place.naver.com/place/1318853078/home
서울 동작구 상도로 179 2층
3 번째 헬스장
국제 헬스
https://pcmap.place.naver.com/place/11831148/home
서울 동작구 등용로4길 148
4 번째 헬스장
엔짐
https://pcmap.place.naver.com/place/1136266766/home
서울 동작구 양녕로26길 27 5층
5 번째 헬스장
마크짐 휘트니스
https://pcmap.place.naver.com/place/31564479/home
서울 동작구 서달로 166 덕봉빌딩 5층
6 번째 헬스장
피렉스휘트니스센터
https://pcmap.place.naver.com/place/1018025728/home
서울 동작구 상도로 96 하나은행
7 번째 헬스장
프레토 휘트니스
https://pcmap.place.naver.com/place/1430563569/home
서울 동작구 보라매로 113 코스모빌딩 5층
8 번째 헬스장
이루어짐
https://pcmap.place.naver.com/place/12861635/home
서울 동작구 장승배기로27길 18 지하1층
9 번째 헬스장
바디 디자인샵
https://pcmap.place.naver.com/place/37992177/home
서울 동작구 국사봉1길 12 진선빌딩 3층
10 번째 헬스장
커브스 상도클럽
https://pcmap.place.naver.com/place/34331455/home
서울 동작구 상도로 352 3층
11 번째 헬스장
해가든짐
https://pcmap.place.naver.com/place/37002614/home
서울 동작구 서달로 150 해가든상가 B01호
12 번째 헬스장
코드짐
https://pcmap.place.naver.com/place/36281903/home
서울 동작구 만양로8길 63
13 번째 헬스장
짐퍼스트 동작점
https://pcmap.place.naver.com/place/1102950306/home
서울 동작구 여의대방로 22 우성쇼핑센터 2층
14 번째 헬스장
엠에이치 토탈 휘트니스 신대방
https://pcmap.place.naver.com/place/36993782/home
서울 동작구 시흥대로 654 서진빌딩 4층, 5층
15 번째 헬스장
러너 피트니스
https://pcmap.place.naver.com/place/37521166/home
서울 동작구 상도동 216-3
16 번째 헬스장
리턴투 필라테스
https://pcmap.place.naver.com/place/37699818/home
서울 동작구 상도로 81 대방동크리닉센타
17 번째 헬스장
크로스핏 포스
https://pcmap.place.naver.com/place/37864961/home
서울 동작구 여의대방로54길 14
18 번째 헬스장
휘트니스 452
https://pcmap.place.naver.com/place/36395457/home
서울 동작구 흑석한강로 2 센트레빌상가 3층 휘트니스452
19 번째 헬스장
더블유짐 상도점
https://pcmap.place.naver.com/place/38214519/home
서울 동작구 상도로 311 2층
20 번째 헬스장
원투원휘트니스
https://pcmap.place.naver.com/place/none/home
21 번째 헬스장
바디킹PT샵
https://pcmap.place.naver.com/place/1728630366/home
서울 동작구 상도로 78 3층
22 번째 헬스장
크로스핏 보라매. 엘루이짐
https://pcmap.place.naver.com/place/36459268/home
서울 동작구 보라매로5가길 24 나산스위트 지하2층 크로스핏보라매&엘루이짐
23 번째 헬스장
예스휘트니스센터
https://pcmap.place.naver.com/place/20614467/home
서울 동작구 국사봉1길 32 성대빌딩
24 번째 헬스장
클레어 피트니스 필라테스&PT 이수역점
https://pcmap.place.naver.com/place/1099353212/home
서울 동작구 동작대로 85 우석빌딩 5층
25 번째 헬스장
투혼짐
https://pcmap.place.naver.com/place/35966449/home
서울 동작구 만양로18길 15 3층
26 번째 헬스장
Keep Fit studio
https://pcmap.place.naver.com/place/1621093212/home
서울 동작구 만양로 38
27 번째 헬스장
고위드 피트니스
https://pcmap.place.naver.com/place/1045120052/home
서울 동작구 보라매로5길 35 2층 고위드 피트니스 보라매점
28 번째 헬스장
커브스 사당클럽
https://pcmap.place.naver.com/place/1666912566/home
서울 동작구 동작대로29길 69 4층 404호 커브스 사당클럽
29 번째 헬스장
J.J GYM
https://pcmap.place.naver.com/place/1027972754/home
서울 동작구 노량진로 146 지하 1층
30 번째 헬스장
엑스 콩고
https://pcmap.place.naver.com/place/39818614/home
서울 동작구 노량진로 140 메가스터디타워
31 번째 헬스장
모브트레이닝 센터
https://pcmap.place.naver.com/place/1263828292/home
서울 동작구 등용로 124 B1
32 번째 헬스장
펠리스짐
https://pcmap.place.naver.com/place/1892839814/home
서울 동작구 상도로 8 3,4층
33 번째 헬스장
얼티밋크로스핏 이수점
https://pcmap.place.naver.com/place/1222771303/home
서울 동작구 동작대로13길 12
34 번째 헬스장
휘트니스 벨라
https://pcmap.place.naver.com/place/1581837115/home
서울 동작구 동작대로29길 36 지하1층
35 번째 헬스장
업투 이수역점
https://pcmap.place.naver.com/place/1476703772/home
서울 동작구 동작대로29길 69 6층
36 번째 헬스장
더 본짐
https://pcmap.place.naver.com/place/1246549593/home
서울 동작구 양녕로 269-1 지하1층
37 번째 헬스장
아이런 휘트니스
https://pcmap.place.naver.com/place/957515691/home
서울 동작구 상도로 357 강남상가아파트 지하1층
38 번째 헬스장
피트니스 킹덤
https://pcmap.place.naver.com/place/1480711513/home
서울 동작구 상도로 61 지하1층
39 번째 헬스장
바디테일러 PT
https://pcmap.place.naver.com/place/1024235832/home
서울 동작구 여의대방로24길 101 4층 (서울특별시 동작구 대방동 404-4 4층)
40 번째 헬스장
클럽컬리넌
https://pcmap.place.naver.com/place/38019638/home
서울 동작구 동작대로25길 16 cs빌딩 6.7층 클럽컬리넌
41 번째 헬스장
트루머슬짐
https://pcmap.place.naver.com/place/1889011410/home
서울 동작구 상도로62길 29
42 번째 헬스장
프롬 베이스먼트
https://pcmap.place.naver.com/place/1686875372/home
서울 동작구 여의대방로22길 110 B1

# 주소 -> 위도 경도

In [ ]:
import requests, json

def get_location(address):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
  # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
  # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
  headers = {"Authorization": "KakaoAK 07d87cd8a22ca8cdf61219221e33eb78"}
  api_json = json.loads(str(requests.get(url,headers=headers).text))
  address = api_json['documents'][0]['address']
  crd = {"lat": str(address['y']), "lng": str(address['x'])}

  return crd

for i in range(len(df)):
  try: 
    crd = get_location(df['address'][i])
  except:
    try:
      crd = get_location(df['address2'][i])
    except:
      crd = {'lat':0, 'lng':0}
  df['lat'][i], df['lng'][i] = crd['lat'], crd['lng']
  print(df['name'][i], crd)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

헤라클레스 {'lat': '37.5059379074905', 'lng': '126.955856834488'}
명문헬스클럽 {'lat': '37.4938176249105', 'lng': '126.956236455386'}
에브리데이짐 {'lat': '37.504803193551', 'lng': '126.938547350594'}
국제 헬스 {'lat': '37.5119384569884', 'lng': '126.93473418566'}
엔짐 {'lat': '37.4973902075154', 'lng': '126.944257806099'}
마크짐 휘트니스 {'lat': '37.5077644083105', 'lng': '126.962881274043'}
피렉스휘트니스센터 {'lat': '37.4999361621243', 'lng': '126.931383839639'}
프레토 휘트니스 {'lat': '37.4994633095093', 'lng': '126.927896614044'}
이루어짐 {'lat': '37.5116890183844', 'lng': '126.939042544418'}
바디 디자인샵 {'lat': '37.4987849415093', 'lng': '126.929236790898'}
커브스 상도클럽 {'lat': '37.4969894833049', 'lng': '126.952614412075'}
해가든짐 {'lat': '37.5066265781961', 'lng': '126.962183786625'}
코드짐 {'lat': '37.5103107126825', 'lng': '126.9458007938'}
짐퍼스트 동작점 {'lat': '37.4910969139998', 'lng': '126.911813692107'}
엠에이치 토탈 휘트니스 신대방 {'lat': '37.4899432805842', 'lng': '126.907821825149'}
러너 피트니스 {'lat': '37.4970019422426', 'lng': '126.943642572569'}
리턴투 필라테스 {'lat': '37.4999513063416', 'lng': '126.929559239366'}
크로스핏 포스 {'lat': '37.5119227773861', 'lng': '126.926740433755'}
휘트니스 452 {'lat': '37.5065990536717', 'lng': '126.966516645021'}
더블유짐 상도점 {'lat': '37.5003398243355', 'lng': '126.950513003004'}
원투원휘트니스 {'lat': '37.5122385559486', 'lng': '126.941386601536'}
바디킹PT샵 {'lat': '37.4995449770673', 'lng': '126.929148090508'}
크로스핏 보라매. 엘루이짐 {'lat': '37.4906995321938', 'lng': '126.923944114665'}
예스휘트니스센터 {'lat': '37.4988226340989', 'lng': '126.930349426426'}
클레어 피트니스 필라테스&PT 이수역점 {'lat': '37.4841524346992', 'lng': '126.981632132981'}
투혼짐 {'lat': '37.5131871681767', 'lng': '126.945213824561'}
Keep Fit studio {'lat': '37.5078153336005', 'lng': '126.947899611012'}
고위드 피트니스 {'lat': '37.4920901355933', 'lng': '126.923508147169'}
커브스 사당클럽 {'lat': '37.4884520759924', 'lng': '126.978107297965'}
J.J GYM {'lat': '37.5132655453299', 'lng': '126.942168403859'}
엑스 콩고 {'lat': '37.512756878817', 'lng': '126.941700638806'}
모브트레이닝 센터 {'lat': '37.5121830815913', 'lng': '126.932178750257'}
펠리스짐 {'lat': '37.4996876886461', 'lng': '126.921171440403'}
얼티밋크로스핏 이수점 {'lat': '37.4818979200336', 'lng': '126.980442816901'}
휘트니스 벨라 {'lat': '37.4883332843569', 'lng': '126.979917728895'}
업투 이수역점 {'lat': '37.4884520759924', 'lng': '126.978107297965'}
더 본짐 {'lat': '37.5040397881991', 'lng': '126.948784268148'}
아이런 휘트니스 {'lat': '37.4969397553084', 'lng': '126.953540835787'}
피트니스 킹덤 {'lat': '37.4999679815238', 'lng': '126.927338710386'}
바디테일러 PT {'lat': '37.4990877047725', 'lng': '126.925611349157'}
클럽컬리넌 {'lat': 0, 'lng': 0}
트루머슬짐 {'lat': '37.4955550868899', 'lng': '126.953537170246'}
프롬 베이스먼트 {'lat': '37.4978979797354', 'lng': '126.925983565896'}

In [ ]:
df.loc[df['name']=='클럽컬리넌', 'lat'] = '37.4863323127883'
df.loc[df['name']=='클럽컬리넌', 'lng'] = '126.980927405478'

In [ ]:
df[df['lat']==0]

Empty DataFrame
Columns: [id, name, img, grade, lat, lng, phoneNumber, address, naver_map_url, address2]
Index: []

In [ ]:
# idx = df[df['lat']==0].index
# df = df.drop(idx)

In [ ]:
df.to_csv("/content/drive/MyDrive/datasets/헬스장 크롤링/{0}/company_plus.csv".format(region))

In [ ]:
df.head()

,id,name,img,grade,lat,lng,phoneNumber,address,naver_map_url,address2
0,0,헤라클레스,https://search.pstatic.net/common/?autoRotate=...,NaN,37.505938,126.955857,824-8688,서울특별시 동작구 흑석로6가길 21 (흑석동),38738534,서울 동작구 흑석로6가길 21
1,1,명문헬스클럽,https://search.pstatic.net/common/?autoRotate=...,NaN,37.493818,126.956236,814-0579,"서울특별시 동작구 상도로 399, 202호 (상도동, 삼호상가)",18704679,서울 동작구 상도로 399 삼호아파트 상가2동 201호
2,2,에브리데이짐,https://search.pstatic.net/common/?autoRotate=...,4.95,37.504803,126.938547,817-6400,서울특별시 동작구 상도로 179 (상도동),1318853078,서울 동작구 상도로 179 2층
3,3,국제 헬스,NaN,NaN,37.511938,126.934734,02-814-4155,서울특별시 동작구 등용로4길 148 (노량진동),11831148,서울 동작구 등용로4길 148
4,4,엔짐,https://search.pstatic.net/common/?autoRotate=...,4.78,37.49739,126.944258,817-8990,"서울특별시 동작구 양녕로26길 27, 5층 (상도동, 삼익아파트)",1136266766,서울 동작구 양녕로26길 27 5층

In [ ]:
df.tail()

,id,name,img,grade,lat,lng,phoneNumber,address,naver_map_url,address2
46,46,포미짐,NaN,NaN,37.625277,127.080023,02-978-4242,"서울특별시 노원구 공릉로 172, 반야빌딩 5층 (공릉동)",1996116358,서울 노원구 공릉로 172 반야빌딩 5층
47,47,조아Gym,https://search.pstatic.net/common/?autoRotate=...,NaN,37.663455,127.076221,NaN,"서울특별시 노원구 덕릉로 738, 정진145빌딩 2층 (상계동)",1748054991,서울 노원구 덕릉로 738 2층 조아짐
48,48,크로스핏 타키온,https://search.pstatic.net/common/?autoRotate=...,NaN,37.620896,127.058796,NaN,"서울특별시 노원구 광운로 37-1, 태경빌딩 지층 (월계동)",1484852211,서울 노원구 광운로 37-1 지하 1층
49,49,피트니스키 FITNESSKI,https://search.pstatic.net/common/?autoRotate=...,NaN,37.665825,127.066594,NaN,"서울특별시 노원구 한글비석로52길 30, 지층 (상계동)",1642472826,서울 노원구 한글비석로52길 30 지층
50,50,빌리핏 PT 스튜디오,NaN,NaN,37.619613,127.077885,NaN,"서울특별시 노원구 공릉로 105, 성종빌딩 2층 1호 (공릉동)",1104811643,"서울 노원구 공릉로 105 201호(공릉동, 장원빌딩)"